kaflox_portal/__pycache__
apps/__pycache__
apps/materials/__pycache__
apps/materials/migrations/__pycache__
apps/media/__pycache__
apps/media/migrations/__pycache__
apps/messaging/__pycache__
apps/messaging/migrations/__pycache__
apps/payments/__pycache__
apps/payments/migrations/__pycache__
apps/projects/__pycache__
apps/projects/migrations/__pycache__
apps/reports/__pycache__
apps/reports/migrations/__pycache__
apps/staff/__pycache__
apps/staff/migrations/__pycache__
apps/staff/management/commands/__pycache__
apps/stages/__pycache__
apps/stages/migrations/__pycache__
apps/users/__pycache__
apps/users/migrations/__pycache__
apps/users/management/commands/__pycache__
.env
db.sqlite3
venv
mediafiles